<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header th:insert="fragments/header :: header-principal">
    
</header>
<section class="slider">
    <img src="img/slider-about.jpg" alt="Slider">
    <h3>ROPA EN DESCUENTO</h3>
</section>


<section class="features">
    <div class="container">
        <div class="row">
            
        </div>
        
    </div>
</section>
<section class="team">
   <div class="clear"></div>
    <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h2>Principal</h2>
           </div>
       </div>	
        <div class="row">
            <div class="col-md-3">
               <div class="teams">
                    <img src="img/invierno.png">
                <div class="icon">
                    
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Ropa de invierno</h3>
                <p class="lol">$500</p><p>$250</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
                    <img src="img/ropa2.png">
                <div class="icon">
                    
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Ropa De paca</h3>
                <p class="lol">$400</p><p>$200</p>
                
            </div>
            <div class="col-md-3">
               <div class="teams">
                    <img src="img/accesorios.png" >
                <div class="icon">
                    
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Accesorios</h3>
                <p class ="lol">$100</p><p>$50</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
                    <img src="img/marcas.png" >
                <div class="icon">
                    
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Marcas con descuentos</h3>
                <p>Marcas</p>
            </div>
        </div>
    </div>
</section>
<footer th:insert="fragments/footer :: footer-principal">
    
</footer>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>  
<script src="js/bootstrap.min.js"></script>  
<script src="js/active.js"></script>  
</body>
</html>