<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header th:insert="fragments/header :: header-principal">
    
</header>


<section class="contact-us ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 center">
                <div class="get_in_touch ">
                   <h2>Registrate para conocer mas productos</h2>
                    <form action="#" method="post">
                        <p>Nombre del Usuario</p>
                        <input type="text" name="">
                        <p>Correo</p>
                        <input type="email" name="">
                        <p>Contraseña</p>
                        <input type="password" name="">                        
                        <input type="submit" value="enviar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:insert="fragments/footer :: footer-principal">
    
</footer>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>  
<script src="js/bootstrap.min.js"></script>  
<script src="js/active.js"></script>  
</body>
</html>